In [2]:
import pandas as pd
import numpy as np

In [6]:
iris = pd.read_csv('module06/iris.data', sep=',',
                   header=None, # the data file does not contain a header
                   names=['sepal length','sepal width','petal length','petal width','class'])

iris.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Measures of location

A measure of **location**, or *a measure of center*, where the values are mostly located. This measure includes: mean, median, mode.

**Median** is the middle value in a sorted list of values. Median splits the data in the "middle" so that 50% of the data points are above this point and 50% - below.

Let's use the same simple dataset above. To get the median, first, sort the list of values: 

`12 15 16 21 21 22`

In the "middle" of this dataset there are two values, `16` and `21`. If there is an even number of values in the middle of the sorted list, we need to calculate an average of these values. Hence, the median value for this dataset is: 

`(16 + 21) / 2 = 18.5`

In [9]:
# grouping data by class
iris_grouped = iris.groupby('class')

# calculating mean (average) for each class:
iris_grouped.mean()

                 sepal length  sepal width  petal length  petal width
class
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

In [11]:
# calculating median for each class:
iris_grouped.median()

# We can see that in our example, the mean and the median values for all of the iris classes are very close to each other. This means that the data is evenly divided and distributed around the mean.

                 sepal length  sepal width  petal length  petal width
class
Iris-setosa               5.0          3.4          1.50          0.2
Iris-versicolor           5.9          2.8          4.35          1.3
Iris-virginica            6.5          3.0          5.55          2.0

Measures of spread

A measure of **spread**, or *statistical dispersion*. This measure includes: standard deviation, variance, range, interquartile range. 

- **Variance** is a measure of the variability in the data, it measures how far values are spread out from the mean. Variance is roughly the average squared distance from the mean.

- **Standard deviation** is the square root of the variance and can be used to describe how close the typical data point is to the mean.

In [12]:
# Variance:
iris_grouped.var()

                 sepal length  sepal width  petal length  petal width
class
Iris-setosa          0.124249     0.145180      0.030106     0.011494
Iris-versicolor      0.266433     0.098469      0.220816     0.039106
Iris-virginica       0.404343     0.104004      0.304588     0.075433

In [13]:
# Standard deviation:
iris_grouped.std()

                 sepal length  sepal width  petal length  petal width
class
Iris-setosa          0.352490     0.381024      0.173511     0.107210
Iris-versicolor      0.516171     0.313798      0.469911     0.197753
Iris-virginica       0.635880     0.322497      0.551895     0.274650

Frequency distribution

In [15]:
houses = pd.DataFrame({
    'price, thousands': [200,300,400,500,600,700,800,900,1000],
    'num of houses': [2,10,15,25,30,25,15,10,2]})

houses.head()

   price, thousands  num of houses
0               200              2
1               300             10
2               400             15
3               500             25
4               600             30